 <div class="user-details">
  <h1> Resume </h1>
  <p> {{site.user_description}} </p>
</div>

<div class="user">
    <div class="tech" style="flex-basis: 500px;">
      <h2>Experience</h2>
      <img alt="Logo for IBM X-Force Red" width="60" height="70" src="{{ "/assets/img/ibm.png" | prepend: site.baseurl }}" />
      <img alt="Logo for Bank of America" width="70" height="55" src="{{ "/assets/img/bofa.jpg" | prepend: site.baseurl }}" />
      <img alt="Logo for Fidelity Investments" width="70" height="70" src="{{ "/assets/img/fidelity.jpg" | prepend: site.baseurl }}" />
      <p><b>Incoming Sr. Penetration Tester Intern</b> @ IBM X-Force Red
      <br><small>Summer 2021</small></p>
    
      <p><b>Assistant Vice President, Ethical Hacking Analyst</b> @ Bank of America
      <br><small>January 2020—December 2020</small></p>
    
      <p><b>Contract Cyber Security Engineer</b> @ Fidelity Investments
      <br><small>August 2019—December 2019</small></p>
    
      <p><b>Security Operations Intern</b> @ AvidXchange
      <br><small>June 2019—August 2019</small></p>
    </div>
    <div class="tech" style="flex-basis: 500px;">
      <h2>Education</h2>
      <img alt="Logo for Western Governors University" width="70" height="70" src="{{ "/assets/img/wgu.png" | prepend: site.baseurl }}" />
      <img alt="Logo for Upsilon Pi Epsilon" width="48" height="70" src="{{ "/assets/img/upe.jpg" | prepend: site.baseurl }}" />
      <img alt="Logo for Order of the Sword and Shield" width="70" height="70" src="{{ "/assets/img/oss.jpg" | prepend: site.baseurl }}" />

      <p><b>Bachelor of Science in Cybersecurity and Information Assurance</b>
      <br> Western Governors University
      <br><small>Summer 2019 Graduate</small></p>
      <p>Upsilon Pi Epsilon Honor Society</p>
      <p>Order of the Sword and Shield / Omicron Sigma Sigma Honor Society</p>
      <p>WGU Alumni Cyber Club</p>
      
      <p><b>SANS Women's Academy Graduate</b>
      <br><small>2018 Cohort</small>
    </div>
    <div class="tech" style="flex-basis: 500px;">
      <h2>Certifications</h2>
      <img alt="Logo for GPEN certification" width="65" height="65" src="{{ "/assets/img/gpen.png" | prepend: site.baseurl }}" />
      <img alt="Logo for SSCP certification" width="65" height="65" src="{{ "/assets/img/sscp.png" | prepend: site.baseurl }}" />
      <img alt="Logo for CSIS certification" width="65" height="65" src="{{ "/assets/img/csis.png" | prepend: site.baseurl }}" />

      <p><b>GIAC:</b> Certified Penetration Tester (GPEN), Certified Incident Handler (GCIH), Security Essentials (GSEC)</p>
      <p><b>(ISC)²:</b> Systems Security Certified Practitioner (SSCP)</p>
      <p><b>CompTIA:</b> A+, Network+, Security+, Project+</p>
      <p><b>EC-Council:</b> Certified Incident Handler (ECIH), Certified Encryption Specialist (ECES)</p>
      <p><b>Axelos:</b> ITIL Foundation v3</p>
      <!-- <p><b>Microsoft Office – Master:</b> Excel 2010 Expert, Word 2010 Expert, Access 2010, PowerPoint 2010 </p> -->
    </div>
</div>
<div class="user">
  <div class="tech">
    <h2>Affiliations</h2>
    <img alt="Photo of Rachel with WiCyS leadership" width="300" height="170" src="{{ "/assets/img/wicys.jpg" | prepend: site.baseurl }}" />
    <p><b>Anita Borg Systers</b> Advisory Councilor</p>
    <p><b>Filipinas in Computing</b> US East Coast Lead Coordinator</p>
    <p><b>Women in Cybersecurity (WiCyS)</b> Member</p>
  </div>
  <div class="tech">
    <h2>Achievements</h2>
    <img alt="Photo of Rachel with Certiport leadership" width="300" height="170" src="{{ "/assets/img/certiport.jpg" | prepend: site.baseurl }}" />
    <p><b>DEFCON 28 Hacker Jeopardy</b> Logic Bombers Team Captain</p>
    <p><b>Disability:IN</b> NextGen Leader 2019</p>
    <p><b>Certiport</b> United States PowerPoint Champion 2012</p>
  </div>
</div>