<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="LinkedIn" target="_blank" href="https://www.linkedin.com/in/rachelvelasco/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="Twitter" target="_blank" href="https://twitter.com/4lgorhythm"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="Instagram" target="_blank" href="https://www.instagram.com/rach_velasco/"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
        <a aria-label="Email" href="mailto:hello@rachvelas.co"><i class="icon fa fa-envelope"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About</a>
        <a class="link" href="#talks" data-scroll>Talks</a>
        <a class="link" href="#more" data-scroll>More</a>
        <a class="link" href="https://blog.rachvelas.co">Blog</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
