<div class="user-details">
  <h1> Presentations </h1>
</div>

<p style="text-align:center;">Despite my social anxiety, I've presented at various tech and security conferences on topics such as application security, DEI, and mental health.</p>
<p style="text-align:center;">You can find my updated talk schedule <a href="https://github.com/kid-lat/talks">here</a>; please <a href="mailto:talks@rachvelas.co">let me know</a> if you'd like me to speak at an upcoming event.</p>

<div class="user">
  <div class="tech" style="flex-basis: 500px;">
    <h2>SIAM CSE
      <br>21</h2>
    <img alt="Title slide for SIAM CSE talk" width="300" height="180" src="{{ "/assets/img/siamcse21.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="tech" style="flex-basis: 500px;">
    <h2>BSides Charlotte
      <br>2020</h2>
    <img alt="Title slide for BSides Charlotte talk" width="300" height="180" src="{{ "/assets/img/bsidesclt2020.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="tech" style="flex-basis: 500px;">
    <h2>WiCyS
      <br>2020</h2>
    <img alt="Title slide for WiCyS 2020" width="300" height="180" src="{{ "/assets/img/wicys2020.gif" | prepend: site.baseurl }}" />
  </div>
</div>